<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserProfileServlet</servlet-name>
  	<display-name>UserProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreatePostServlet</servlet-name>
  	<display-name>CreatePostServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.CreatePostServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ThreadServlet</servlet-name>
  	<display-name>ThreadServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.ThreadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommentServlet</servlet-name>
  	<display-name>CommentServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserProfileServlet</servlet-name>
  	<url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreatePostServlet</servlet-name>
  	<url-pattern>/CreatePostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThreadServlet</servlet-name>
  	<url-pattern>/ThreadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommentServlet</servlet-name>
  	<url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>
